.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.button__t4CkB:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__azAl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__aTpbu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__gPs4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__zrCVd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__wuZpi {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__g9TQv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__xxTe1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__oBKir {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
