.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.button__xYrMx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___4IAlB {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__bUdLu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button___7U3Z6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-right: 35px;
}
.svg__eJhtJ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__phbuE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.hello:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 0px;
  min-width: 0;
}
